<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>实时空气质量</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.0/css/mdb.min.css" rel="stylesheet">
  </head>
  <body>
<div id="data" style="position: absolute;left: 10%;top: 10%;height:49%;width:49%">
                    {% if lastest_record %}
        <div>上传时间：{{ lastest_record.uploadtime }} </div>
        <div>空气质量：{{ lastest_record.value }}</div>
        <div>经纬位置：({{ lastest_record.latitude }},{{ lastest_record.longitude }})</div>
    {% else %}
        <p class="p">No datas are available.</p>
    {% endif %}
    {% if weekavg %}
      <div>一周内平均值：{{ weekavg }}</div>
      {% endif %}
</div>
<div id="map"></div>

<div style="position: absolute;left: 50%;top: 1%;height:50%;width:49%">
<canvas id="lineChart" ></canvas>
</div>
<div style="position: absolute;left: 50%;top: 50%;height:50%;width:49%;font-size:500%"> github项目地址<div style="font-size:5px">(实在不知道放什么在这里了)</div>&rarr;&rarr;<a href="https://github.com/lsqls/iotwebsite">iotweb</a></div>


<style>
       #map {
        position: absolute;left: 1%;top: 50%;height:300px;width:49%
       }
    </style>


<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.13.0/umd/popper.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.0/js/mdb.min.js"></script>
 <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBK6tEL1KiUML6MxBmqBq6-KJtDnz-XdSk&callback=initMap">
    </script>

<script>
      function initMap() {
        var uluru = {lat: {{ lastest_record.latitude }}, lng: {{ lastest_record.longitude }}};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 10,
          center: uluru
        });
        var marker = new google.maps.Marker({
          position: uluru,
          map: map
        });
      }
    </script>


<script>
var ctxL = document.getElementById("lineChart").getContext('2d');
var myLineChart = new Chart(ctxL, {
    type: 'line',
    data: {
        labels: ["0","1", "2", "3", "4", "5"],
        datasets: [
            {
                label: "6小时内曲线图",
                fillColor: "rgba(220,220,220,0.2)",
                strokeColor: "rgba(220,220,220,1)",
                pointColor: "rgba(220,220,220,1)",
                pointStrokeColor: "#fff",
                pointHighlightFill: "#fff",
                pointHighlightStroke: "rgba(220,220,220,1)",
                data: [{{data5}},{{data4}},{{data3}},{{data2}},{{data1}},{{data0}}]
            }

        ]
    },
    options: {
        responsive: true
    }
});
  </script>
  </body>
</html>